* {
    font-family: "fantasy";
    font-style: "copperplate";
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


#logo{
    margin-left: 30px;
    width: 300px;
    height: 112px;
    /* border: 3px solid white; */
}

.logo{
     margin-left: 15px;
    width: 150px;
    height: 44px; 
    /* border: 3px solid white; */
}

nav {
    background-color: black;
    color: #fff;
    padding: 10px;
    height: 130px;
    width: 100%;
    margin-bottom: 30px;
    /* position: fixed; */
}

nav ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: right;
}

nav li {
    margin: 0 10px;
}

nav a {
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
}

hr{
    border-top: 1px dashed gainsboro;
    margin-bottom: 30px;
}

main {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    height: 1000px;
}

.main-section{
    width: 50%;
    height: 520px;
    padding-left:15px ;
    /* border: 3px solid black; */
}

.divbottom{
    margin-top: 26px;
}

#div2{
    padding-left: 5px;
}
.sub-div2{
width: 329px;
height: 243px;
display: inline-block;
margin-left: 30px;
/* margin-top: 30px; */
/* border: 2px solid black; */
}


footer {
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    /* padding: 10px; */
}


